### In Class Assignment A
For each column in the dataset below:
1. identify
1. compute
1. justify 

which of the 

- mean
- median
- mode 

is the best measure of the average of the data.

In [1]:
import pandas as pd

df = pd.DataFrame({'x': [-10, 10, -10, 10, -10, 10],
                   'y': [.1, 1, 10, 100, 1000, 10000],
                   'zip code': [2215, 2215, 2215, 2215, 2215, 90210]})

df

    x        y  zip code
0 -10      0.1      2215
1  10      1.0      2215
2 -10     10.0      2215
3  10    100.0      2215
4 -10   1000.0      2215
5  10  10000.0     90210

In [2]:
df.median(axis=0)

x              0.0
y             55.0
zip code    2215.0
dtype: float64

In [3]:
df.mean(axis=0)

x               0.000000
y            1851.850000
zip code    16880.833333
dtype: float64

In [4]:
df.mode(axis=0)

      x        y  zip code
0 -10.0      0.1    2215.0
1  10.0      1.0       NaN
2   NaN     10.0       NaN
3   NaN    100.0       NaN
4   NaN   1000.0       NaN
5   NaN  10000.0       NaN


## response
Mode would be the best measure of the average of the x data and zipcode because there is one outlier (90210) in the nominal data, and it shows more information about x and the zipcode than using mean or medium. 

Median would be the best for y data and zipcode because there is a huge outlier (10000) in the data.

## In Class Assignment B

    set A: 4, 6, 8, 6, 2, 10

    set B: -100, 100, -100, 100

1. Using your intuition and the definitions of sample mean and sample variance, tell which set:
- has the largest sample mean
- has the largest sample variance

2. Then, with pencil and paper, compute the sample mean and sample variance of each.

3. Finally, use pandas to compute the sample mean and variance of each set to validate your solution

Set A has the largest sample mean.

Set B has the largest sample variance

In [5]:
import pandas as pd

setA = [4,6,8,6,2,10]
pd.Series(setA).var()

8.0

In [6]:
pd.Series(setA).mean()

6.0

In [7]:
setB = [-100,100,-100,100]
pd.Series(setB).var()

13333.333333333334

In [8]:
pd.Series(setB).mean()

0.0

## In Class Assignment C

Each of the scatters below shows two features, each with a mean of 0.  Match the scatter above with the covariance matrices below (each scatter corresponds to a unique covariance matrix).

<img src="https://i.ibb.co/kcN8TvM/cov-match.png" alt="Drawing" style="width: 800px;"/>

graph a = matrix_3

graph b = matrix_1

graph c = matrix_5

graph d = matrix_2

graph e = matrix_0

graph f = matrix_4