## In class activity 1:
1. Express all of the following penguin group's height and weight as a list of dictionaries:
<img src="https://i.ibb.co/XXzX4Wk/penguin-tree.png" alt="Drawing" style="width: 700px;"/>

In [1]:
penguin0 = {'height': [2,3,2], 'weight': [4,6,5]}
penguin1 = {'height': [4,6,5], 'weight': [2,3,3]}
penguin2 = {'heigh': [10,7,8], 'weight': [11,6,5]}

In [2]:
pen_list = [penguin0, penguin1, penguin2]

In [3]:
pen_list

[{'height': [2, 3, 2], 'weight': [4, 6, 5]},
 {'height': [4, 6, 5], 'weight': [2, 3, 3]},
 {'heigh': [10, 7, 8], 'weight': [11, 6, 5]}]

## In Class Activity 2
    
1. Make a function `get_forecast` which accepts:
    - `lat`
    - `lon`
    - `api_key`
    - `units` (default = 'imperial')
    
    and returns a dataframe of the forecasted weather
    
```python
# clean it up
row_list = list()
for d in weather_dict['list']:
    # process dictionary into a row

    # store
    row_list.append(d)

# convert list of dictionaries to dataframe
df = pd.DataFrame(row_list)
```

2. "flatten" the parts of the dictionary which make sense (see "main" example a few cells above).


## Test Case

Osaka, Japan is located at:

    34.6937° N, 135.5023° E
    
The first few rows of my call 

```python
df_osaka = get_forecast(lat=34.6937, lon=135.5023, api_key=api_key)
```

yielded the following dataframe:

|   | dt         | visibility | pop | dt_txt              | all | speed | deg | gust | pod | temp  | feels_like | temp_min | temp_max | pressure | sea_level | grnd_level | humidity | temp_kf | id  | main   | description | icon |
|---|------------|------------|-----|---------------------|-----|-------|-----|------|-----|-------|------------|----------|----------|----------|-----------|------------|----------|---------|-----|--------|-------------|------|
| 0 | 1680264000 | 10000      | 0   | 2023-03-31 12:00:00 | 0   | 4.79  | 222 | 7.87 | n   | 60.35 | 58.24      | 60.04    | 60.35    | 1016     | 1016      | 1016       | 46       | 0.17    | 800 | Clear  | clear sky   | 01n  |
| 1 | 1680274800 | 10000      | 0   | 2023-03-31 15:00:00 | 11  | 3.18  | 211 | 6.51 | n   | 59.38 | 57.56      | 57.43    | 59.38    | 1017     | 1017      | 1016       | 54       | 1.08    | 801 | Clouds | few clouds  | 02n  |
| 2 | 1680285600 | 10000      | 0   | 2023-03-31 18:00:00 | 21  | 1.72  | 78  | 2.37 | n   | 57.18 | 55.42      | 55.6     | 57.18    | 1017     | 1017      | 1015       | 60       | 0.88    | 801 | Clouds | few clouds  | 02n  |
| 3 | 1680296400 | 10000      | 0   | 2023-03-31 21:00:00 | 4   | 3     | 58  | 4.52 | d   | 53.69 | 51.82      | 53.69    | 53.69    | 1017     | 1017      | 1015       | 65       | 0       | 800 | Clear  | clear sky   | 01d  |
| 4 | 1680307200 | 10000      | 0   | 2023-04-01 00:00:00 | 2   | 3.69  | 50  | 4.34 | d   | 61.18 | 59.25      | 61.18    | 61.18    | 1018     | 1018      | 1016       | 48       | 0       | 800 | Clear  | clear sky   | 01d  |

In [4]:
from weather_api import api_key
import pandas as pd
import requests
import json

def get_forecast(lat, lon, api_key, units = 'imperial'):
    """ get forecase based on lat, lon, api_key
    Args: 
        lat (float): latitude
        lon (float): longitude
        api_key (string): api key
        units (Str): type of units
    
    return:
        df (pd.DataFrame): forecasted weather, 
                    one instant per row, 
                    one feature per col
    """

    url = f'https://api.openweathermap.org/data/2.5/forecast?lat={lat}&lon={lon}&units={units}&appid={api_key}'
    
    # get url as a string
    url_text = requests.get(url).text   

    # convert json to a nested dict
    weather_dict = json.loads(url_text)
    
    # clean it up
    row_list = list()
    for d in weather_dict['list']:
        
        # lets "flatten" the main dictionary
        for feat in ['clouds', 'wind', 'sys', 'main']:
            d.update(d[feat])
            del d[feat]
        
        # lets "flatten" weather
        d.update(d['weather'][0])
        del d['weather']
        
        # store
        row_list.append(d)
    
    return pd.DataFrame(row_list)

In [5]:
df_osaka = get_forecast(lat=34.6937, lon=135.5023, api_key=api_key)
df_osaka

,dt,visibility,pop,dt_txt,all,speed,deg,gust,pod,temp,...,temp_max,pressure,sea_level,grnd_level,humidity,temp_kf,id,main,description,icon
0,1680285600,10000,0.00,2023-03-31 18:00:00,31,1.25,96,1.63,n,54.57,...,55.49,1017,1017,1015,54,-0.51,802,Clouds,scattered clouds,03n
1,1680296400,10000,0.00,2023-03-31 21:00:00,13,3.31,49,4.81,d,53.76,...,53.76,1017,1017,1015,59,0.09,801,Clouds,few clouds,02d
2,1680307200,10000,0.00,2023-04-01 00:00:00,2,4.85,45,5.91,d,61.50,...,61.50,1017,1017,1015,46,0.00,800,Clear,clear sky,01d
3,1680318000,10000,0.00,2023-04-01 03:00:00,2,3.40,13,5.99,d,70.86,...,70.86,1016,1016,1014,23,0.00,800,Clear,clear sky,01d
4,1680328800,10000,0.00,2023-04-01 06:00:00,5,5.21,320,6.62,d,73.42,...,73.42,1013,1013,1011,20,0.00,800,Clear,clear sky,01d
5,1680339600,10000,0.00,2023-04-01 09:00:00,17,11.63,350,13.80,d,67.14,...,67.14,1014,1014,1012,30,0.00,801,Clouds,few clouds,02d
6,1680350400,10000,0.00,2023-04-01 12:00:00,44,9.10,10,13.53,n,60.85,...,60.85,1016,1016,1014,42,0.00,802,Clouds,scattered clouds,03n
7,1680361200,10000,0.00,2023-04-01 15:00:00,97,8.30,18,12.35,n,56.48,...,56.48,1016,1016,1014,49,0.00,804,Clouds,overcast clouds,04n
8,1680372000,10000,0.00,2023-04-01 18:00:00,79,6.91,21,11.32,n,53.85,...,53.85,1016,1016,1014,52,0.00,803,Clouds,broken clouds,04n
9,1680382800,10000,0.00,2023-04-01 21:00:00,1,5.99,21,11.01,d,52.14,...,52.14,1017,1017,1015,56,0.00,800,Clear,clear sky,01d
10,1680393600,10000,0.00,2023-04-02 00:00:00,2,8.28,26,11.32,d,60.28,...,60.28,1017,1017,1015,45,0.00,800,Clear,clear sky,01d
11,1680404400,10000,0.04,2023-04-02 03:00:00,4,9.04,9,9.98,d,69.21,...,69.21,1016,1016,1014,36,0.00,800,Clear,clear sky,01d
12,1680415200,10000,0.19,2023-04-02 06:00:00,14,14.00,341,12.93,d,71.08,...,71.08,1014,1014,1012,30,0.00,801,Clouds,few clouds,02d
13,1680426000,10000,0.20,2023-04-02 09:00:00,42,13.96,350,18.79,d,61.43,...,61.43,1016,1016,1014,37,0.00,802,Clouds,scattered clouds,03d
14,1680436800,10000,0.11,2023-04-02 12:00:00,33,10.83,4,15.64,n,55.63,...,55.63,1019,1019,1017,49,0.00,802,Clouds,scattered clouds,03n
15,1680447600,10000,0.00,2023-04-02 15:00:00,0,7.92,11,11.52,n,53.28,...,53.28,1020,1020,1018,55,0.00,800,Clear,clear sky,01n
16,1680458400,10000,0.01,2023-04-02 18:00:00,1,6.78,2,10.22,n,51.37,...,51.37,1020,1020,1018,62,0.00,800,Clear,clear sky,01n
17,1680469200,10000,0.01,2023-04-02 21:00:00,23,4.61,350,7.40,d,50.79,...,50.79,1022,1022,1020,66,0.00,801,Clouds,few clouds,02d
18,1680480000,10000,0.01,2023-04-03 00:00:00,34,6.06,353,7.65,d,57.02,...,57.02,1024,1024,1022,50,0.00,802,Clouds,scattered clouds,03d
19,1680490800,10000,0.03,2023-04-03 03:00:00,0,7.07,8,9.91,d,65.32,...,65.32,1023,1023,1021,27,0.00,800,Clear,clear sky,01d
20,1680501600,10000,0.07,2023-04-03 06:00:00,0,8.03,352,8.97,d,67.82,...,67.82,1021,1021,1020,23,0.00,800,Clear,clear sky,01d
21,1680512400,10000,0.00,2023-04-03 09:00:00,0,8.10,338,9.53,d,64.60,...,64.60,1023,1023,1021,31,0.00,800,Clear,clear sky,01d
22,1680523200,10000,0.00,2023-04-03 12:00:00,0,6.46,356,9.33,n,57.97,...,57.97,1025,1025,1024,49,0.00,800,Clear,clear sky,01n
23,1680534000,10000,0.00,2023-04-03 15:00:00,9,5.14,360,5.30,n,55.24,...,55.24,1027,1027,1025,58,0.00,800,Clear,clear sky,01n
24,1680544800,10000,0.00,2023-04-03 18:00:00,8,5.77,73,9.44,n,53.56,...,53.56,1025,1025,1023,65,0.00,800,Clear,clear sky,01n
25,1680555600,10000,0.00,2023-04-03 21:00:00,2,1.74,58,3.27,d,52.61,...,52.61,1027,1027,1025,69,0.00,800,Clear,clear sky,01d
26,1680566400,10000,0.00,2023-04-04 00:00:00,3,0.94,165,3.96,d,59.50,...,59.50,1028,1028,1026,57,0.00,800,Clear,clear sky,01d
27,1680577200,10000,0.00,2023-04-04 03:00:00,100,3.85,229,5.91,d,64.83,...,64.83,1026,1026,1024,43,0.00,804,Clouds,overcast clouds,04d
28,1680588000,10000,0.00,2023-04-04 06:00:00,97,11.21,246,11.43,d,63.97,...,63.97,1024,1024,1022,49,0.00,804,Clouds,overcast clouds,04d
29,1680598800,10000,0.00,2023-04-04 09:00:00,72,12.10,233,16.11,d,61.97,...,61.97,1025,1025,1023,57,0.00,803,Clouds,broken clouds,04d
30,1680609600,10000,0.00,2023-04-04 12:00:00,43,8.72,222,14.92,n,58.93,...,58.93,1026,1026,1024,65,0.00,802,Clouds,scattered clouds,03n
31,1680620400,10000,0.00,2023-04-04 15:00:00,55,4.38,217,7.43,n,57.92,...,57.92,1026,1026,1024,66,0.00,803,Clouds,broken clouds,04n
32,1680631200,10000,0.00,2023-04-04 18:00:00,53,2.95,136,4.36,n,55.90,...,55.90,1025,1025,1023,71,0.00,803,Clouds,broken clouds,04n
33,1680642000,10000,0.00,2023-04-04 21:00:00,96,4.65,121,6.44,d,54.00,...,54.00,1024,1024,1022,71,0.00,804,Clouds,overcast clouds,04d
34,1680652800,10000,0.00,2023-04-05 00:00:00,98,4.43,113,5.32,d,58.86,...,58.86,1024,1024,1022,53,0.00,804,Clouds,overcast clouds,04d
35,1680663600,10000,0.00,2023-04-05 03:00:00,100,3.60,202,11.03,d,65.16,...,65.16,1022,1022,1020,40,0.00,804,Clouds,overcast clouds,04d
36,1680674400,10000,0.00,2023-04-05 06:00:00,100,17.20,217,21.45,d,67.06,...,67.06,1019,1019,1017,43,0.00,804,Clouds,overcast clouds,04d
37,1680685200,10000,0.00,2023-04-05 09:00:00,97,12.44,196,22.28,d,65.12,...,65.12,1020,1020,1018,50,0.00,804,Clouds,overcast clouds,04d
38,1680696000,10000,0.00,2023-04-05 12:00:00,98,6.49,199,17.67,n,63.72,...,63.72,1020,1020,1018,53,0.00,804,Clouds,overcast clouds,04n
39,1680706800,10000,0.19,2023-04-05 15:00:00,100,7.07,166,17.69,n,62.51,...,62.51,1018,1018,1016,58,0.00,804,Clouds,overcast clouds,04n